/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.App {
  text-align: center;
}

.EventItem {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.EventItem h3 {
  margin-top: 0;
}

.EventItem p {
  margin: 5px 0;
}

.EventItem a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

.EventItem a:hover {
  background-color: #0056b3;
}

.EventDetails {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.EventDetails h2 {
  margin-top: 0;
}

.EventDetails p {
  margin: 5px 0;
}

.EventDetails button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.EventDetails button:hover {
  background-color: #0056b3;
}
